.logoutButton {
  width: 100%;
  height: 15%;
  margin: 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position:relative;
    align-items:center;
    background-color:#f7f7f7;
    /* height:100%; */
    font-family: 'Press Start 2P', cursive;
    height:75%;
    width:50%;
    border: 5px solid #00ff3e
  }

  .demoButton {
    position:absolute;
    right:50%;
    bottom:30%;
    height: 2.5vh;
    border: 5px solid #00ff3e;
    font-family: 'Press Start 2P', cursive;
    color: #00ff3e;
    font-size: 1.25em;
    background-color: rgba(0,0,0,.95);
    border-radius: 0;
  }

  .loginButton {
    position:absolute;
    right:50%;
    bottom:25%;
    /* bottom:0; */
    height: 2.5vh;
    border: 5px solid #00ff3e;
    font-family: 'Press Start 2P', cursive;
    color: #00ff3e;
    font-size: 1.25em;
    background-color: rgba(0,0,0,.95);
    border-radius: 0;
  }
