.sideBarUsers {
  /* background-color: blue; */
  width: 25%;
  min-width: 150px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  /* outline: black solid 5px; */

}

.homePageUserList {
  list-style: none;
  /* outline: 5px black solid; */
  width: 100%;
  height: 30vh;
  min-height: 300px;
  padding: 0;
  margin: 0;
  /* background-color: darkslategrey; */
  display: inline-block;
  overflow-y: scroll;
  outline: white 5px solid;
  background-color: lightgoldenrodyellow;
  background-color: rgba(114, 137, 218, 1);

  min-width: 200px;

}

.homePageUserList::-webkit-scrollbar {
  display: none;
}

.eachUserLi {
  height: 5vh;
  /* background-color: black; */
  background-color: rgba(255, 69, 0, .7);
  margin-bottom: 2.5%;
  display: flex;
  align-items: center;
  border-radius: 9999px;

  /* justify-content: space-between; */
  /* margin-left: 5vw; */
}




.userListPicture {
  height: 4vh;
  width: 4vw;
  border-radius: 50%;
}

.userListLink {
  font-size: 2em;
  list-style: none;
  color: white;
  margin-left: 2vw;
}

.sessionUserListLink {
  font-size: 2em;
  list-style: none;
  color: white;
  margin-left: 2vw;


}

.activeUserListLink {
  color: black;
}

.sessionUserListLink:active {
  font-size: 2em;
  list-style: none;
  color: black;
  margin-left: 2vw;


}

.activeUserNavTag {
  color: black;
}


.userPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-end;
  position: absolute;
  bottom: 0;
  align-items: center;
  outline: black solid 5px;
  margin-top: 3.5%;
  /* margin-bottom: 3.5%; */

  /* margin-right: 5%; */
  /* margin-left: 5%; */

  width: 100%;
  height: 7.5vh;
  /* min-height: 15vh; */
}

.userHeaderUl {
  list-style-type: none;
}
