.eachUserChannelDiv {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 3.5vh;
  margin-bottom: 5vh;
  margin-bottom:50px;
  position:relative;
}

.channelPicture {
  height: 3.5vh;
  width: 100%;
  object-fit: cover;
  position:absolute;
  z-index: -99;
  opacity: .5;
}


.deleteChannelButton {
  position:absolute;
  width: 50%;
  height: 2.5vh;
  border: 5px solid red;
  font-family: 'Press Start 2P', cursive;
  color: red;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
}

/* .userChannelProfileDiv {
  position: absolute;
  z-index: 1000;
} */

.editChannelButton {
  position:absolute;
  right:0;
  width: 50%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
}

.editDeleteChannelDiv {
  width: 100%;
}

.userChannelMainDiv {
  /* background-color: black; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* background-color: black; */
  position: absolute;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* border: 5px black solid; */
  height: 67.5vh;
  width: 25%;
  /* margin-left: 30%; */
  margin-top: 32.5vh;
  background-color: rgba(0, 0, 0, .3);
  overflow: hidden scroll;
  outline: white solid 5px;
  /* min-width: 200px;
  min-height: 700px; */

}

.userChannelMainDiv::-webkit-scrollbar {
  display: none;
}
.createChannelModalDiv {
  height: 10px;
}

.createChannelModalSmallerDiv {
  height: 10px;
}

.createChannelButtonDiv {
  height: 10px;
}

.eachChannelTitle {
  margin: 0;
}

.editChannelForm {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background-color:#f7f7f7;
  height:100%;
  font-family: 'Press Start 2P', cursive;

}

.postChannelFormDiv {
  display: flex;
  justify-content: center;
  /* height: 100px; */
  /* width: 50vw; */
  /* background-color: black; */
}

.postChannelForm {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background-color:#f7f7f7;
  height:100%;
  font-family: 'Press Start 2P', cursive;

  /* width: 25vw; */
}


.userPageName {
  margin: 0;
  color: white;
  font-family: 'Press Start 2P', cursive;

}


.channelPictureUser {
  /* height: 80%; */
  position: absolute;
  /* height: 25%; */
  height: 7.5vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}



.channelNavTag {
  display:flex;
  justify-content:center;
  color: white;
  /* font-size: 2.5em; */
  font-family: 'Press Start 2P', cursive;

}

.channelNavTag:active {
  display:flex;
  justify-content:center;
  color: black;
  font-size: 2.5em;
  font-family: 'Press Start 2P', cursive;

}

.activeChannelNavTag {
  color: black;
}


.userChannelsOverHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y:scroll;
  height:75%;
  /* align-self: flex-end; */
}

.userChannelsOverHeaderDiv::-webkit-scrollbar {
  display: none;
}


.emptyChannelsMessage {
  /* position:absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width:100%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  /* margin-bottom: 5%; */
  /* min-width: 500px; */
}




.channelEditDeleteDiv {
  position:absolute;;
  bottom:0;

  background-color:black;
  width:100%;
  /* margin-top: 3.5vh; */
}

.channelNameLinkP {
  margin:0;
}

.errorLi {
  width:15vw;

}


.formLabelInputDiv {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  /* margin-top:1vh; */
  height: 25%;
  justify-content: space-around;
}


.createChannelButton{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.3);
  border-radius:0;
}
