.eachUserChannelDiv {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  outline: black solid 5px;
  display: inline-block;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  height: 10vh;
  min-height: 25px;
  /* justify-content: center; */
  /* align-items: center; */
  /* align-items: center; */
  /* margin-top: 3.5%; */
  /* margin-right: 5%; */
  /* margin-left: 5%; */

  width: 100%;
  /* height: 25%; */
  /* margin-top: 5%; */
  /* background-color: black; */
}

.deleteChannelButton {
  width: 100%;

}

/* .userChannelProfileDiv {
  position: absolute;
  z-index: 1000;
} */

.editChannelButton {
  width: 100%;
}

.editDeleteChannelDiv {
  width: 100%;
}

.userChannelMainDiv {
  /* background-color: black; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* background-color: black; */
  position: absolute;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* border: 5px black solid; */
  height: 67.5vh;
  width: 25%;
  /* margin-left: 30%; */
  margin-top: 32.5vh;
  background-color: rgba(0, 0, 0, .3);
  overflow: hidden scroll;
  outline: white solid 5px;
  min-width: 200px;
  min-height: 700px;

}

.userChannelMainDiv::-webkit-scrollbar {
  display: none;
}
.createChannelModalDiv {
  height: 10px;
}

.createChannelModalSmallerDiv {
  height: 10px;
}

.createChannelButtonDiv {
  height: 10px;
}

.eachChannelTitle {
  margin: 0;
}

.editChannelForm {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.postChannelFormDiv {
  display: flex;
  justify-content: center;
  /* height: 100px; */
  /* width: 50vw; */
  /* background-color: black; */
}

.postChannelForm {
  display: flex;
  flex-direction: column;
  /* width: 25vw; */
}

.channelPicture {
  /* height: 80%; */
  position: absolute;
  /* height: 25%; */
  height: 10vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}

.userPageName {
  margin: 0;
  color: white;
}


.channelPictureUser {
  /* height: 80%; */
  position: absolute;
  /* height: 25%; */
  height: 7.5vh;
  width: 100%;
  object-fit: cover;
  z-index: -999;
}


.createChannelButton {
  width: 100%;
  height: 33.33%;
  background-color: rgba(114, 137, 218, 1);


}


.channelNavTag {
  color: white;
  font-size: 2.5em;
}

.channelNavTag:active {
  color: black;
  font-size: 2.5em;
}

.activeChannelNavTag {
  color: black;
}


.userChannelsOverHeaderDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-self: flex-end; */
}


.emptyChannelsMessage {
  display: flex;
  justify-content: center;
  width: 100%;
  /* min-width: 500px; */
}
