.loginFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* min-height: 300px; */
  width: 40%;
  height: 5%;
  font-family: 'Press Start 2P', cursive;
  position:absolute;

  bottom: 12.5%;

}

.footerNavLinks {
  display: flex;
  justify-content: center;
  align-items: center;

  width:42.5%;
  left:30%;
  bottom:20%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  min-height: 35px;
  min-width: 250px;
}
