.eachChannelPostDiv {
  outline: 5px solid black;
  width: 80%;
  margin-top: 2vh;
}

.channelPostsMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: solid black 5px;
  margin-left: 27.5%;
  width: 50%;
  height: 80vh;
  overflow-y: scroll ;
}

.eachPostDiv {
  width: 50%;
  outline: black solid 5px;
  margin-top: 1vh;
  background-color: white;
  display: inline-block;
  height: 25%;
  margin-top: 2.5vh;
  /* display: inline-block; */
  display: flex;
  min-width: 250px;
}


.postPicture {
  display: inline-block;
    height:100%;
    width: 34%;

}

.postTitle {
  width: 33%;
  background-color: lightgoldenrodyellow;
  height: 100%;
  margin: 0;
}

.postDeleteUpdateButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 34%;
}

.editPostForm {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.deletePostButton {
  height: 20%;
  background-color: cornflowerblue;
}

.editPostButton {
  height: 20%;
  background-color: cornflowerblue;
}


.createPostForm {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 0;
  right: 0; */
  /* width: 17.5%; */
  /* height: 80%; */
  /* flex-direction: column; */
}

.createPostFormDiv {
  width: 100%;
}
