.eachChannelPostDiv {
  outline: 5px solid black;
  width: 80%;
  margin-top: 2vh;
  /* height: 20vh; */
}

.channelPostsMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47.5%;
  margin-left: 33.75%;
  height: 85vh;
  overflow-y: scroll ;
  min-width: 350px;
  padding-top: 2.5%;
}

.createPostModal {
  position: absolute;
  width: 47.5%;
  margin-left: 33.75%;
  height: 5vh;
  /* border-radius: 9999px; */
  margin-top: 5vh;
  /* background-color: rgba(117, 235, 14, 0.995); */
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size:1.25em;
  background-color: rgba(0,0,0,.3);
  min-width: 400px;
  min-height: 50px;


  /* min-width: 350px; */

}


.channelPostsMainDiv::-webkit-scrollbar {
  display: none;
}

.eachPostDiv {
  width: 75%;
  min-width: 500px;
  position: relative;
  /* outline: black solid 5px; */
  margin-top: 1vh;
  background-color: #f7f7f7;
  margin-top: 2.5vh;
  display: flex;
  min-width: 250px;
  min-height: 250px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, .5);;
}




.postPicture {
  /* display: inline-block;
    height:100%;
    width: 34%; */
    width:50%;
    height:250px;

}



.postDeleteUpdateButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position:relative;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height: 50%; */
}

.editPostForm {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background-color:#f7f7f7;
  height:100%;
  font-family: 'Press Start 2P', cursive;
  padding-top: 5%;
  /* padding-bottom: 5%; */

  /* width: 100%; */
  /* position: absolute; */
}


.editPostFormDiv {
  width: 100%;
  height:fit;
}

.deletePostButton {
  position:absolute;
  width: 50%;
  min-width: 75px;
  height: 2.5vh;
  border: 5px solid red;
  font-family: 'Press Start 2P', cursive;
  color: red;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  min-height: 35px;

}




.createPostForm {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background-color:#f7f7f7;
  /* height:100%; */
  font-family: 'Press Start 2P', cursive;
  padding-top: 5%;
  /* padding-bottom: 5%; */

  /* background-color:black; */
  /* height:100%; */
  /* position: absolute;
  top: 0;
  right: 0; */
  /* width: 17.5%; */
  /* height: 80%; */
  /* flex-direction: column; */
}

.createPostFormDiv {
  width: 100%;
  height:fit;
  /* min-height: 200px;f */
}


.postTitleAndEdit {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 50%;
  right: 0;
}


.editPostButton {
  /* position: absolute; */
  position:absolute;
  /* margin-left: 50%; */
  width: 50%;
  bottom:0;
  right:0;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  background-color: rgba(0,0,0,.95);
  border-radius:0;
  min-height: 35px;
  min-width: 75px;



}




.channelPostLink {
  background-color: white;
}


.channelTitleForPostPage {
  border: 5px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  color:white;
  background-color: black;
  width: 47.5%;
  position: absolute;
  top: 0;
  z-index: 99;
  height: 2.5vh;
  margin: 0;
}

.eachPostUserNavLink {
  display:flex;
  /* justify-content:center; */
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color:rgba(0,0,0,.9);
  text-decoration:none;
  margin:0;
  margin-left:0;

}

.postUserNavLinkTitle {
  margin-top:1vh;
  margin-bottom:1vh;

  /* padding:0; */
}

.postTitle {
  /* width: 100%; */
  /* min-width: 300px; */
  background-color: rgba(0,0,0,.75);
  height: 100%;
  width: 100%;
  /* width: 100%; */
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  color:white;
  min-width: 100px;
  position: relative;
  text-overflow: clip;
  word-wrap: break-word;


}


.errors {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items: center;
  color: white;
  margin:0;
  padding:0;
  list-style:none;
  position:absolute;
  /* margin-left: 32.5vw; */
  bottom: 110%;
  background-color:rgba(0,0,0,1);
  box-shadow: 7.5px 7.5px 1px 0px rgba(0, 0, 0, .5);
  padding:2.5%;
  font-family:none;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  /* width: 15vw; */
  /* height:100%; */
}

.errorLi {
  display: flex;
  width:20vw;
  margin-top: 1vh;
}

/*
.editPostFormDiv {
  width: 100%;
  height:100%;
  min-height: 200px;
} */

/* .editChannelFormDiv {
  width: 100%;
  height:fit;
} */


.formMainButton {
  /* position: absolute; */
  /* width: 47.5%; */
  /* height: 5vh; */
  margin-top: 5%;
  width: 80%;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size:1.25em;
  background-color: rgba(0,0,0,.9);
  /* min-width: 400px; */

  /* min-width: 350px; */

}
