.profileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1.75%;
  top: 1.75%;
  background-color: black;
  width: 75px;
  height: 4vh;
  z-index: 1;
  border-radius: 999px;
  border: 4.5px solid #00ff3e;
  min-height: 70px;


}

.profileButtonPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  z-index: 1;
  border-radius: 50%;
  width: 100%;
  width: 25px;
  width: 75px;
  opacity: .4;
  height: 4vh;
  min-height: 50px;
  min-height: 70px;


}

.profileDropdown {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 112.5px;
  height: 17.5vh;
  margin: 0;
  margin-bottom: 1.25vh;
  padding: 0;
  list-style: none;
  z-index: 1  ;
  background-color: darkslategray;
  outline: 5px white solid;
  right: 5%;
  right: 1.75%;
  width: 15%;
  height: 240px;
  text-overflow: clip;
  word-wrap: break-word;
}



.profileDropdownPicture {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 17.5vh;
  margin: 0;
  /* margin-bottom: 1.25vh; */
  padding: 0;
  list-style: none;
  z-index: 1  ;
  background-color: darkslategray;
  outline: 5px white solid;
  /* left: 27.5%; */
  width: 50%;
    /* height: 25%; */
    /* height: 10vh; */
    width: 100%;
    object-fit: cover;
    z-index: -999;
    left: 0;
    opacity: .5;
  height: 240px;

}

.userName {
  color: white;
  font-size: 1.5em;
  text-overflow: clip;
  word-wrap: break-word;
  margin-bottom: 20%;
}

.email {
  color: white;
  font-size: 1.25em;
  margin-bottom: 25px;
}
