.signupForm {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  background-color:#f7f7f7;
  height:100%;
  font-family: 'Press Start 2P', cursive;
}


.signupModalButton {
  position:absolute;
  width:40%;
  left:30%;
  bottom:20%;
  height: 2.5vh;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
  min-height: 37.5px;

}

.signupButtonSubmit {
  /* right:50%; */
  /* bottom:5%; */
  width: 100%;
  border: 5px solid #00ff3e;
  font-family: 'Press Start 2P', cursive;
  color: #00ff3e;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
}

.signupButtonSubmit:disabled {
  /* right:50%; */
  /* bottom:5%; */
  width: 100%;
  border: 5px solid grey;
  font-family: 'Press Start 2P', cursive;
  color: grey;
  font-size: 1.25em;
  background-color: rgba(0,0,0,.95);
  border-radius: 0;
}
